@import "../variables";

.dataTable-wrapper.no-footer .dataTable-container {
	border-bottom: none;
}

.dataTable-selector {
	padding: $form-select-padding-y $form-select-indicator-padding $form-select-padding-y $form-select-padding-x;
}

.dataTable-dropdown {
	display: inline-flex;
	align-items: center;
}
.compose-new-mail-sidebar {
    display: none;
  }
  
.compose-new-mail-sidebar.show {
    display: block;
  }

.dataTable-dropdown label {
	white-space: nowrap;
	margin-left: 15px;
}

.page-item.active .page-link {
	color: white !important;
}
