{% set title = 'input' %}
{% set filename = 'input.html' %}

{% extends 'src/layouts/master.html' %}

{% block content %}
<div id="root"></div>

<!-- Nhúng thư viện React -->
<script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

<!-- Viết JSX trực tiếp bằng type="text/babel" -->
<script type="text/babel">
  function Hello() {
    return <h1>Xin chào từ React JSX!</h1>;
  }

  const root = ReactDOM.createRoot(document.getElementById('root'));
  root.render(<Hello />);
</script>
{% endblock %}
